/ page content
.right_col{:role => "main"}
  %div
    .page-title
      .title_left
        %h3
          Indikatori

    .clearfix
    .row
      .col-md-12.col-sm-12.col-xs-12
        .x_panel
          .x_title

            %table#datatable.table.table-striped.table-bordered
              %thead
                %tr
                  %th Targetovani proizvod
                  %th Facebook stranica
                  %th Score
                  / %th
                  / %th
                  / %th

              %tbody
                - @indicators.each do |indicator|
                  %tr
                    %td= indicator.product
                    %td= indicator.name
                    %td= indicator.score
                    / %td= link_to 'Show', indicator
                    / %td= link_to 'Edit', edit_indicator_path(indicator)
                    / %td= link_to 'Destroy', indicator, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %button.btn.btn.btn-success{"data-target" => "#indicator", "data-toggle" => "modal", type: "button"} Dodaj indikator

  #indicator.modal.fade{"aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4#myModalLabel.modal-title Dodaj indikator
        .modal-body{style: 'font-size: 120%;'}
          = render 'form'
