/ page content
.right_col{:role => "main"}
  %div
    .page-title
      .title_left
        %h3
          Indikatori
          / %small Some examples to get you started
      / .title_right
      /   .col-md-5.col-sm-5.col-xs-12.form-group.pull-right.top_search
      /     .input-group
      /       %input.form-control{:placeholder => "Search for...", :type => "text"}/
      /       %span.input-group-btn
      /         %button.btn.btn-default{:type => "button"} Go!
    .clearfix
    .row
      .col-md-12.col-sm-12.col-xs-12
        .x_panel
          .x_title
            / %h2
            /   Default Example
            /   %small Users
            / %ul.nav.navbar-right.panel_toolbox
            /   %li
            /     %a.collapse-link
            /       %i.fa.fa-chevron-up
            /   %li.dropdown
            /     %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            /       %i.fa.fa-wrench
            /     %ul.dropdown-menu{:role => "menu"}
            /       %li
            /         %a{:href => "#"} Settings 1
            /       %li
            /         %a{:href => "#"} Settings 2
            /   %li
            /     %a.close-link
            /       %i.fa.fa-close
            / .clearfix
            / .x_content
            /   %p.text-muted.font-13.m-b-30
            /     DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function:
            /     %code $().DataTable();
            %table#datatable.table.table-striped.table-bordered
              %thead
                %tr
                  %th Targetovani proizvod
                  %th Facebook stranica
                  %th Score
                  / %th
                  / %th
                  / %th

              %tbody
                - @indicators.each do |indicator|
                  %tr
                    %td= indicator.product
                    %td= indicator.name
                    %td= indicator.score
                    / %td= link_to 'Show', indicator
                    / %td= link_to 'Edit', edit_indicator_path(indicator)
                    / %td= link_to 'Destroy', indicator, :method => :delete, :data => { :confirm => 'Are you sure?' }
